.flex {
    display: flex;
    justify-content: space-between;
}

.text-start {
    text-align: start;
}

.header {
    margin: 20px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.websiteName {
    margin-left: 50px;
    color: #F17707;
}
.button {
    margin: 100px 680px;
    padding: 7px;
    color: white;
    margin-right: 50px;
    text-decoration: none;
    background: #F17707;
    border: 3px solid #F84C54;
    border-radius: 50px;
}

.button:hover {
    border: 3px solid #F17707;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    color: #F17707;

}

.button1 {
    padding: 7px;
    color: white;
    text-decoration: none;
    background: #F17707;
    border: 3px solid #F84C54;
    border-radius: 50px;
}

.button1:hover {
    border: 3px solid #F17707;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    color: #F17707;

}

.product-img{
    height: 350px;
    width: 300px;
}

.wrapper{
    margin: 0 80px;
}

.product-img2{
    height: 300px;
    width: 300px;
    display: inline;
    padding-right: 40px;
}

.centerText{
    text-align: center;
    color: darkorange;
    font-size: 28px;
}