<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShopStore Panier</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
    <h3 class="websiteName">Mon Panier</h3>
    <div th:if="${cartItems == null}">Votre panier est vide</div>
    <div th:unless="${cartItems == null}">
        <div class="wrapper">
            <div th:each="product : ${cartItems}" >
                <div>
                    <img class="product-img2" th:src= "${product.illustration}" />
                    <strong><div th:text= "${product.name}"> </div></strong>
                    <div th:text= "${'Quantité: ' + product.quantity}"> </div>
                    <div th:text= "${'Prix total: ' + product.price * product.quantity + ' €'}"> </div>
                    <form th:action="@{|/deleteCartItem/${product.id}|}" method="post">
                        <p><input type="submit" value="Supprimer"/></p>
                    </form>
                </div>
                </br></br>
            </div>
        </div>
        <div class="centerText" th:text= "${'Total du panier: ' + totalPrice + ' €'}"> </div>

        <div>
            <form th:action="@{|/order|}" method="post">
                <input class="button" type="submit" value="Passer ma commande"/>
            </form>
        </div>
    </div>

    <a class="button" th:href="@{|/|}"> Continuer mes achats </a>

</body>
</html>