<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ShopStore Produits</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="websiteName">ShopStore</h1>
        <a class="button1" th:href="@{|/cart|}"> Panier </a>
        <a class="button1" th:href="@{|/orderList|}"> Historique commandes </a>

    </div>

    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 my-1">
            <a th:href="@{|/product/${product.id}|}" >
                <img class="product-img" th:src="${product.illustration}" />
            </a>
            <div class="flex">
                <a th:href="@{|/product/${product.id}|}" >
                    <p th:text= "${product.name}" class="text-start"></p>
                </a>
                <div th:text="${product.price + ' €'}" />
            </div>
            </br>
        </div>
    </div>
</div>
</body>
</html>
