<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mes commandes</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<h3 class="websiteName">Mes commandes</h3>
<div th:each="order : ${orders}" >
    <div th:each="product : ${order.products}" >
        <strong><div th:text= "${product.name}"> </div></strong>
        <div th:text= "${'Quantité: ' + product.quantity}"> </div>
        <div th:text= "${'Prix total: ' + product.price * product.quantity + ' €'}"> </div>
        <br/>
    </div>
    <p>-------------------------------------------------------------------------------------------</p>
</div>
<a class="button" th:href="@{|/|}"> Retour à l'accueil </a>

</body>
</html>