<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShopStore Commande</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
    <h3>Votre commande a bien été soumise</h3>
    <a class="button" th:href="@{|/|}"> Retourner à l'acceuil</a>

</body>
</html>