<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails produit</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <h1 class="websiteName" >ShopStore</h1>
    <img class="product-img2" th:src="${product.illustration}" />
    <strong><div th:text="${product.name}"></div></strong>
    <div th:text="${product.description}"></div>
    <div th:text="${product.price + ' €'}" />
    <form th:action="@{|/addToCart/${product.id}|}" method="post">
        <p>Quantité: <input type="number" name="quantity" min="1" value="1"/></p>
        <p><input class="button" type="submit" value="Ajouter au panier"/></p>
    </form>
</div>


</body>
</html>